[Unit]
Description=Wireguard PIA VPN Gateway Service
After=syslog.target network.target

[Service]
ExecStart=/scripts/run
Restart=always
RestartSec=10
Environment="LOC="
Environment="USER="
Environment="PASS="
Environment="USEMODERN="
Environment="KEEPALIVE="
Environment="VPNDNS="
Environment="PORT_FORWARDING="
Environment="EXIT_ON_FATAL="
Environment="LOCAL_INT="
Environment="DESTHOST="
Environment="SEEDBOX_USER="
Environment="SEEDBOX_PASS="
Environment="MAIL_NOTIFY="
Environment="MAILSERVER="
Environment="MAILPORT="
Environment="MAILUSER="
Environment="MAILPORT="

[Install]
WantedBy=multi-user.target