[Unit]
Description=Wireguard PIA VPN Gateway Service
After=syslog.target network.target
[Service]
User=root
Group=root
type=simple
ExecStart=/opt/wireguard-pia-portforward/run
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
